
@import url(Menu.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*Para que el pading o el margin sean hacia adentro*/
}

/* ccs para cuando la pantalla es de un tamaño mayor a 900px*/

body {
    font-family: 'Dancing Script', cursive; /*1.tipografia Dancing Script*/
    background-color: #02010a; /*2. color de fondo negro #02010a*/
    color:white; /* Color letra blanco por default*/
}

/* 4. div contenido centrado maximo 900px de ancho*/
.contenido {
    width:900px;
    margin: auto;
    text-align: center;
}


/* 5.- Media Queries */
/* ccs @media para cuando la pantalla es de un tamaño menor a 900px*/
@media (max-width:900px) {
    /* 4. div contenido centrado de 100% de ancho*/
    .contenido {
    width:100%;
    }
    
    
    
    
    
}